<div>
    <img src="gold_detail_2" alt="guld detalje">
    <p>GREAT HOLIDAY EXPERIENCE</p>
    <p>“Great holiday experience with the family!
        Our first escape room, but definitely not the last.
        Good story and well-designed sets.”</p>
</div>

<style>
    div {
        background-color: #701208;
        width: 300px;
        padding: 50px;
        margin: 20px;
        border-radius: 25px;
    }

    p {
        color: white;
    }
</style>