---

---
<footer>
  <br />
  <a href="https://www.royalescapes.dk/?gclid=CjwKCAjw6IiiBhAOEiwALNqncZHZkMJZEPUKrAf0jaHupQCoxeZIGCQcg-4YnZvgy4keq_CaUoHWGBoC9fgQAvD_BwE" target="_blank"> <img class="logo" src="/images/escaperoom.webp" alt="logo" /></a>
  <p class="adress">Fredericiagade 30, 1310 København</p>
  <p class="nr">+45 60 89 66 20</p>
  <div class="container">
    <img class="fb" src="/images/fb_icon.png" alt="logo" />
    <img class="insta" src="/images/instagram_icon.png" alt="img1" />
  </div>
</footer>

<style>
  @media screen and (max-width: 800px) {
    footer {n
      position: relative;
      background-color: var(--secondary-color);
      color: var(--header-color);
      max-width: 100%;
      max-height: 100%;
      margin-bottom: 0%;
      padding: 0%;
    }

    .container1 {
      display: flex;
      /* display: inline-block; */
      align-content: center;
      justify-content: center;
      margin: 0%;
      padding: 0%;
    }
    .logo {
      max-width:7em;
      margin: 0%;
      padding: 0%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .container {
      display: flex;
      /* display: inline-block; */
      align-content: center;
      justify-content: center;
    }
    img {
      max-width: 2em;
      margin-bottom: 2em;
    }

    .fb {
      margin-right: 2%;
    }

    .adress {
      text-align: center;
      margin: 0%;
      margin-top: 2em;
      margin-bottom: 1em;
    }
    .nr {
      text-align: center;
      margin: 0%;
      margin-bottom: 2%;
    }
  }
  @media screen and (min-width: 800px) {
    footer {
      position: relative;
      background-color: var(--secondary-color);
      color: var(--header-color);
      max-width: 100%;
      max-height: 100%;
      margin-bottom: 0%;
      padding: 0%;
    }

    .container1 {
      display: flex;
      /* display: inline-block; */
      align-content: center;
      justify-content: center;
      margin: 0%;
      padding: 0%;
    }
    .logo {
      max-width: 10em;
      margin: 0%;
      padding: 0%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .container {
      display: flex;
      /* display: inline-block; */
      align-content: center;
      justify-content: center;
    }
    img {
      max-width: 3em;
      margin-bottom: 2em;
    }

    .fb {
      margin-right: 2%;
    }

    .adress {
      text-align: center;
      margin: 0%;
      margin-top: 2em;
      margin-bottom: 1em;
    }
    .nr {
      text-align: center;
      margin: 0%;
      margin-bottom: 2%;
    }
  }
</style>
