---
---

<div class="første">
  <img class="gold" src="/images/gold_detail.svg" alt="gold detail" />
</div>

<div class="text">
  <p>Do you admire the royal family?</p>
  <p>Are you intrigued by the secrets and mysteries that lies beneath?</p>
  <p>Are you able to crack the code, solve the mystery and get out in time?</p>
  <p>Escape the city and solve the royal mysteries at our playroomn</p>
</div>

<div class="button_container"><button>BOOK THE PLAYROOM</button></div>

<div class="anden">
  <img class="gold" src="/images/gold_detail_2.svg" alt="gold detail" />
</div>
<style>
  @media screen and (max-width: 800px) {
    img {
      max-width: 50vw;
      padding: 0%;
      margin: 0%;
    }
    .første {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .anden {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      font-size: 1em;
      font-family: "sanvito-pro", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: black;
      text-align: center;
    }
    button {
      background: var(--contrast-color);
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      padding: 0.51rem 1rem 0.5rem 1rem;
      border-radius: 25px;
      font-family: "sanvito-pro", sans-serif;
      font-weight: 800;
      font-size: 1em;
      color: white;
    }
    .button_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (min-width: 800px) {
    img {
      max-width: 35vw;
      padding: 0%;
      margin: 0%;
    }
    .første {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .anden {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      font-size: 2em;
      font-family: "sanvito-pro", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: black;
      text-align: center;
    }
    button {
      background: var(--contrast-color);
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      padding: 0.51rem 1rem 0.5rem 1rem;
      border-radius: 25px;
      font-family: "sanvito-pro", sans-serif;
      font-weight: 800;
      font-size: 2em;
      color: white;
    }

    .button_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>
