---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="Escape the city and solve the royal mysteries" />
    <meta name="robots" content="noindex" />
    <title>The Royal Playroom</title>
    <link rel="stylesheet" href="https://use.typekit.net/dnw7wwk.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
